<section class="py-10" id="services">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">Mejor contenido</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            
            <!-- Podcast sobre Animales -->
            <a href="#" class="block bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105">
                <img src="assets/img/animales.webp" alt="Podcast sobre Animales"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Podcast sobre Animales</h3>
                    <p class="text-gray-700 text-base">
                        Descubre historias fascinantes del reino animal, aprende sobre el cuidado de mascotas 
                        y disfruta de entrevistas con expertos en fauna y naturaleza.
                    </p>
                </div>
            </a>

            <!-- Podcast sobre Criptomonedas -->
            <a href="#" class="block bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105">
                <img src="assets/img/crypto.webp" alt="Podcast sobre Criptomonedas"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Podcast sobre Criptomonedas</h3>
                    <p class="text-gray-700 text-base">
                        Mantente informado sobre las últimas tendencias en el mundo de las criptomonedas, 
                        blockchain y trading con análisis de expertos y consejos sobre inversión.
                    </p>
                </div>
            </a>

            <!-- Podcast sobre Fútbol -->
            <a href="#" class="block bg-white rounded-lg shadow-md overflow-hidden transform transition-transform duration-300 hover:scale-105">
                <img src="assets/img/fut.webp" alt="Podcast sobre Fútbol"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Podcast sobre Fútbol</h3>
                    <p class="text-gray-700 text-base">
                        Debate sobre las mejores ligas del mundo, análisis de partidos y entrevistas con 
                        jugadores y entrenadores. ¡Todo lo que un fanático del fútbol necesita!
                    </p>
                </div>
            </a>
            
        </div>
    </div>
</section>
