<app-navbar></app-navbar>
<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg mt-16">
    <h1 class="text-3xl font-bold text-[#8b5e3b] mb-6 text-center">Registrar Locutor</h1>
  
    <form [formGroup]="locutorForm" (ngSubmit)="submit()">
      <div class="mb-4">
        <label class="block font-semibold text-[#8b5e3b]">Nombre Completo</label>
        <input formControlName="nombreCompleto" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:border-[#b87d4b] focus:ring-[#b87d4b] focus:ring-2 transition" placeholder="Ingrese el nombre completo">
      </div>
      <div class="mb-4">
        <label class="block font-semibold text-[#8b5e3b]">Correo Electrónico</label>
        <input formControlName="email" type="email" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:border-[#b87d4b] focus:ring-[#b87d4b] focus:ring-2 transition" placeholder="Ingrese el correo">
      </div>  
      <div class="mb-4">
        <label class="block font-semibold text-[#8b5e3b]">Nickname</label>
        <input formControlName="nickname" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:border-[#b87d4b] focus:ring-[#b87d4b] focus:ring-2 transition" placeholder="Ingrese el nickname">
      </div>  
      <div class="mb-4">
        <label class="block font-semibold text-[#8b5e3b]">País de Origen</label>
        <input formControlName="pais" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:border-[#b87d4b] focus:ring-[#b87d4b] focus:ring-2 transition" placeholder="Ingrese el país">
      </div>  
      <div class="mb-4">
        <label class="block font-semibold text-[#8b5e3b]">Especialidad</label>
        <input formControlName="especialidad" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:border-[#b87d4b] focus:ring-[#b87d4b] focus:ring-2 transition" placeholder="Ingrese la especialidad">
      </div>  
      <div class="mb-4">
        <label class="block font-semibold text-[#8b5e3b]">Foto de Perfil</label>
        <input type="file" (change)="onFileChange($event)" class="w-full px-4 py-2 border border-gray-300 rounded-lg cursor-pointer">
        <div *ngIf="imagenPreview" class="mt-4 flex justify-center">
          <img [src]="imagenPreview" class="w-32 h-32 rounded-full shadow-lg">
        </div>
      </div>  
      <div class="text-center">
        <button type="submit" class="bg-[#8b5e3b] text-white px-6 py-3 rounded-lg hover:bg-[#6d4f3b] transition">
          Guardar Locutor
        </button>
      </div>
    </form>
  </div>
  