<div class="w-full py-16 bg-[#f5e1c9] dark:bg-[#e6d4b4]">
    <div class="max-w-screen-md mx-auto text-center">
        <h1 class="mb-4 text-4xl font-bold text-[#8b5e3b]">
            Descubre <span class="text-[#b87d4b]">FJCS Podcast</span>
        </h1>
        <p class="text-[#6d4f3b] text-lg">
            Historias, entrevistas y conversaciones que te harán pensar.  
            Escucha nuestros episodios en vivo o descarga tus favoritos en cualquier momento.
        </p>
    </div>

    <div class="flex flex-col justify-center items-center space-y-5 md:flex-row md:space-y-0 md:space-x-6 mt-10">
        <!-- Primer bloque (Locutores oficiales) -->
        <div class="relative md:w-1/3 flex flex-col items-center">
            <img src="assets/img/podcast.webp" alt="Locutores oficiales" class="w-48 h-48 object-cover rounded-md">
            <h1 class="text-white mt-4 font-bold uppercase lg:text-xl">Locutores oficiales</h1>
            <button class="w-40 px-6 py-3 mt-2 text-xs text-white transition duration-300 ease-in-out transform border border-[#8b5e3b] rounded-full lg:text-md focus:outline-none hover:scale-110 font-medium bg-[#8b5e3b]">
                Conócelos
            </button>
        </div>

        <!-- Segundo bloque (Explorar episodios) -->
        <div class="relative md:w-1/3 flex flex-col items-center">
            <img src="assets/img/locutores.webp" alt="Explorar episodios" class="w-48 h-48 object-cover rounded-md">
            <h1 class="text-white mt-4 font-bold uppercase lg:text-xl">Explorar episodios</h1>
            <button class="w-40 px-6 py-3 mt-2 text-xs text-white transition duration-300 ease-in-out transform bg-[#b87d4b] border-[#8b5e3b] border rounded-full lg:text-md focus:outline-none hover:scale-110 font-medium">
                Ver Todos
            </button>
        </div>
    </div>
</div>
