<br>
<br>

<footer class="bg-[#f5e1c9] text-white text-center py-10 relative">
    <div class="footer-content max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
        <!-- Enlaces -->
        <div class="link">
            <h3 class="text-lg font-bold mb-4">Conéctate con Nosotros</h3>
            <div class="flex justify-center space-x-4">
                <a href="#" class="text-white hover:underline">Facebook</a>
                <a href="#" class="text-white hover:underline">Twitter</a>
                <a href="#" class="text-white hover:underline">Instagram</a>
            </div>
        </div>
        
        <!-- Imagen ajustada -->
        <div class="flex justify-center">
            <img 
                class="max-w-full h-auto sm:max-h-48 mx-auto object-contain" 
                src="assets/img/logoups.png" 
                alt="Gestionar los espacios" />
        </div>
    </div>
    
    <div class="border-t border-gray-200 opacity-20 my-5 mx-10"></div>

    <p class="mt-2 text-sm">&copy; 2024 EduPlus. Todos los derechos reservados.</p>
</footer>
